%fontRoboto{
    font-family: 'Roboto', sans-serif;
}

%fontInter{
    font-family: 'Inter', sans-serif;
}

%button {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        cursor: pointer;
        display: inline-block;
        outline: none;
        border-radius: 20px;
        border: 2px solid $rouge;
        background: $rouge;
}