// portfolio

.portfolio{
    display:flex;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7em;
}

.inPortfolio{

    display: flex;
    position: relative;
}

// portfolio text

.portfolioText{
    width:26%;
    margin-right: 4.5%;
    
}

.portfolioText h2{
    @extend %fontInter;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1.5em;
    padding-bottom: 1em;
    
}
.portfolioText span{
    padding-bottom: 0.4em;
    border-bottom: $orange solid 4px;
}
.portfolioText p{
    @extend %fontInter;
    font-size: 0.87em;
    line-height: 1.5em;
}

// portfolio image

.portfolioImage{
    display: flex;
    flex-direction: column;
}
.portfolioImg{
    display: flex;
    margin-bottom: 1.5em;
}

.imgPortfolio{
    margin-left: 1.5em;
}

// experience

.experience{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    margin-top: 15em;
}

.experience > button {
    display: none;
}

// experience text 

.expText{
    display: flex;
    flex-direction: column;
    width: 23%;
    padding-top: 2em;
}

.expText h2{
    
    @extend %fontInter;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1.5em;
    padding-bottom: 1em;

}

.expText p {
    @extend %fontInter;
    font-size: 0.87em;
    line-height: 1.5em;
}

.expText button{

    width: 80%;
    margin-top: 2em;
}

.expText span{
    padding-bottom: 0.4em;
    border-bottom: $orange solid 4px;
}


// experience job

.expJob{
    width: 65%;
    padding-left: 10em;
}
.inExpJob{
    display: flex;
    justify-content: space-between;
}

.expDate{
    display: flex;
    align-items: flex-start;
}

.expDate img {
    width: 100%;
}
.expTextJob{
    width: 49%;
    @extend %fontInter;
    font-size: 0.87em;
    line-height: 1.5em;
    
}

.expNow{
    margin-left: 2em;
    padding-top: 3%;
}

.expJob h6{

    @extend %fontRoboto;
    font-size: 0.75em;
    line-height: 1.2em;
    letter-spacing: 0.125em;
}

.expJob h3 {
    @extend %fontInter;
    font-size: 1.125em;
    line-height: 1.625em;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 4.5em;
}

.expJob hr{
    margin-bottom: 2.625em;
    width: 101.5%
}

.expTextJob p {
    padding-left: 2em;
}

// compétences

.competences{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    justify-content: space-between;
    margin-top: 16.875em;
    margin-bottom: 7em;
}

.competence{

    display: flex;
    flex-direction: column;
    width: 65%;
}

.skillcompetence{
    display: flex;
}

.skillbar{
    display: flex;
    background-color: #2C2C2C;
    border-radius: 0.5em;
    align-items: center;
    padding: 1.2em;
}

.angular{
    width: 18.75em;
}

.react {
    width: 21.875em;
    margin-left: 1.5em;
}

.nodejs {
    width: 14.125em;
    margin-top: 1.5em;
}

.management{
    width: 18.8125em;
    margin-left: 1.5em;
    margin-top: 1.5em;
}

.analytics{
    width: 17.9375em;
    margin-top: 1.5em;
}

.brainstroming{
    margin-left: 2.2em;
    margin-top: 1.5em;
    width: 17.9375em;
}

.execution {

    margin-top: 1.5em;
    width: 30.1em;
}



.inSkillbar{
    width: 60%;
    display: flex;
    align-items: center;
}

.inSkillbar p{
    margin-left: 20%;
    @extend %fontInter;
    font-size: 0.87em;
    font-weight: 600;
}

.percentage{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    color: #2C2C2C;
}

.percentage p {
    background-color: $orange;
    border-radius: 2em;
    padding: 0.3em 0.75em 0.3em 0.75em;
    @extend %fontInter;
    font-weight: 600;
}


// competence text 

.competenceText{
    width: 31%;
    padding-left: 6em;
    padding-top: 1.62em;
}

.competenceText h2{
    @extend %fontInter;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1.5em;
    padding-bottom: 1.5em;
}

.competenceText span{
    padding-bottom: 0.4em;
    border-bottom: $orange solid 4px;
}

.competenceText p {

    @extend %fontInter;
    font-size: 0.87em;
    line-height: 1.5em;
}

@media  screen and (max-width: 768px) {
    .portfolio{
        width: 100%;
        padding-top: 0;
    }

    .inPortfolio {
        flex-direction: column;
    }

    .portfolioText{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolioImg {

        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    #astronaute{
        height: auto;
    }
    

    .portfolioImg img {

        width: 313px;
        height: 264px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.6rem;
        
    }

    .experience {
        flex-direction: column;
        width: 80%;
        margin-top: 5rem;
    }

    .experience > button {

        display: block;
        width: 60%; 
    }

    .experience hr {
        display: none;
    }

    .expText {
        width: 100%;
    }

    .expText button {
        display: none;
    }

    .expJob {
        width: 100%;
        padding-left: 0;
        padding-top: 2rem;
    }
    
    .expTextJob {

        display: none;
        width: 100%;
    }

    .competences {
        display: none;
    }    
}