.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $blackone;
    padding-bottom: 13rem ;
}

.testimonials h2 {
    @extend %fontInter;
    font-size: 2.3em;
    font-weight: 600;
    line-height: 3.75rem;
    padding-bottom: 4.7rem;
    margin-top: 7.5rem;
    padding-top: 3rem;
    padding-left: 3.5rem;
}

.testimonials .span2{
    padding-bottom: 0.4em;
    border-bottom: $orange solid 3px;
}

.testimonial{

    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
}


.testimonial img {
    width: 7.5em;
    height: 7.5em;
    border-radius: 60px;
    border-top-right-radius: 25px;
    padding-top: 0.8rem;
    position: relative;
}

.testimonial .text {
    width: 100%;
    text-align: left;
    @extend %fontInter;
    font-style: italic;
    font-size: 1.33rem;
    line-height: 2rem;
    padding-bottom: 1em;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
}

.testimonialP{
    width: 44%;
    text-align: left;
    
}

.testimonialP span{

    border-bottom: $orange solid 3px;
    padding-bottom: 0.5em;
}

.name{

    @extend %fontInter;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.6em;
    padding-bottom: 0.2em;
    padding-left: 2.5rem;
}

.job{
    @extend %fontInter;
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 2.5rem;
}

@media screen and ( max-width: 768px) {
    
    .testimonials {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        text-align: left;
        padding-bottom: 0;
    }

    .testimonials h2 {
        padding-left: 0;
        margin-top: 0;
        padding-bottom: 3rem;
    }

    .testimonial {
        width: 100%;
    }

    .testimonial img {

        display: none;
    }

    .testimonialP {
        width: 100%;
    }

    .testimonialP span {
        border: none;
    }

    .span2 {
        border: none !important;
    }

    .span1{
        padding-bottom: 0.4em;
        border-bottom: $orange solid 3px;
    }

    .testimonial .text{
        padding-left: 0;
    }

    .name{
        padding-left: 0;
    }

    .job{
        padding-left: 0;
    }
}